@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Inter:wght@400;700&family=Koulen&family=Lexend+Deca&family=Permanent+Marker&family=Poppins:wght@400;700;900&family=Red+Hat+Display:wght@500;700;900&family=Rubik:wght@400;500;700&family=Supermercado+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: hsl(270, 20%, 96%);
}

main {
  /* position: relative; */
}

.heading {
  width: 50%;
  height: 30rem;
  background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-bottom-right-radius: 45%;
}

.heading-body {
  background-color: hsl(0, 0%, 100%);
  padding: .8rem;
  margin: -25rem 2rem 0 2rem;
  border-radius: 2rem;
  /* border-width: 3rem; */
}

/* .heading-container {
  border-radius: 2rem;
  border-color: red;
/* }  */

.chat-head {
  background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  padding: 1rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr 2fr .1fr;
  grid-template-rows: auto auto;
}

.first-font {
  grid-column: 1;
  grid-row: 1 / span 2;
  /* justify-content: flex-end;
  align-items: flex-end; */
  color: hsl(0, 0%, 100%);
}

.second-font {
  color: hsl(0, 0%, 100%);
}

.chat-head img {
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  width: 2rem;
  grid-column: 2;
  grid-row: 1 / span 2;
  align-self: end;  
}

.name {
  /* margin: 0 4rem; */
  font-size: 11.6px;
  color: hsl(0, 0%, 100%);
  grid-column: 3;
  align-self: center;
  padding: .1rem;
}

.first-message-box {
  width: 13rem;
  font-size: 11px;
}

.para {
  color: hsl(276, 55%, 52%);
  margin: 1rem 0;
}

.second-message-box {
  padding: 1rem 0;
  text-align: end;
  color:  hsl(271, 15%, 43%);
  font-size: 11px;
  width: 16rem;
}

.message-box { 
  margin: 1rem 0;
  
}

.message-box img {
  width: 3rem;
  border-radius: 1rem;
}

.second-message-box p {
  margin-top: 1rem;
}

.third-message-box {
  width: 13rem;
  font-size: 11px;
  color: hsl(276, 55%, 52%);
  margin-bottom: 1rem;
}